@import "./Swiper.scss";
@import "../../../index.scss";

.project {
  text-align: right;
  width: 300px;
  @include breakpoint(sm) {
    width: 320px;
  }
  @include breakpoint(md) {
    width: 425px;
  }
  @include breakpoint(lg) {
    width: 339px;
  }
  @include breakpoint(xl) {
    width: 472px;
  }
  &-photo-container {
    width: 100%;
    position: relative;
    img {
      width: 300px;
      @include breakpoint(sm) {
        width: 320px;
      }
      @include breakpoint(md) {
        width: 425px;
      }
      @include breakpoint(lg) {
        width: 339px;
      }
      @include breakpoint(xl) {
        width: 472px;
      }
    }
  }
  &-title {
    padding-top: 32px;
    font-size: 24px;
    line-height: 29px;
  }
  &-subtitle {
    font-size: 18px;
    padding-top: 16px;
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .swiper-container {
    pointer-events: none;
  }
}
