@import "./Swiper.scss";
@import "../../../index.scss";

.project {
  text-align: right;
  width: 300px;
  padding: 0 4px;
  @include breakpoint(sm) {
    width: 320px;
  }
  @include breakpoint(md) {
    width: 425px;
  }
  @include breakpoint(lg) {
    width: 339px;
  }
  @include breakpoint(xl) {
    width: 472px;
  }
  &-photo-container {
    width: 100%;
    position: relative;
    img {
      width: 290px;
      @include breakpoint(sm) {
        width: 305px;
      }
      @include breakpoint(md) {
        width: 410px;
      }
      @include breakpoint(lg) {
        width: 325px;
      }
      @include breakpoint(xl) {
        width: 450px;
      }
    }
  }
  &-title {
    padding-top: 32px;
    font-size: 24px;
    line-height: 29px;
    @include breakpoint(lg) {
      min-height: 89.6px;
    }
    @include breakpoint(xl) {
      min-height: unset;
    }
  }
  &-subtitle {
    font-size: 18px;
    padding-top: 16px;
    @include breakpoint(xl) {
      min-height: 68px;
    }
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .swiper-container {
    pointer-events: none;
  }
  small {
    display: block;
    text-align: right;
    height: 38px;
    align-self: flex-end;
  }
}
