@import "./Swiper.scss";

.projects {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 32px;

  & > span {
    font-size: 34px;
    line-height: 41px;
    color: #242a49;
    margin-bottom: 32px;
  }
}
