@import "../../index.scss";
.sidebar {
  background: linear-gradient(
      180deg,
      #424c83 3.71%,
      #242a49 52.08%,
      #000000 97.92%
    ),
    #546358;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  color: #f0e5e5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.25s ease;
  position: absolute;
  height: 100vh;
  z-index: 10;

  width: 225px;

  @include breakpoint(lg) {
    width: 275px;
    position: relative;
  }

  a {
    color: #f0e5e5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: initial !important;
  }

  small,
  .small {
    font-size: 16px !important;
  }

  ul {
    height: 100%;
  }

  img {
    width: 42px;
  }
  .nav {
    &-link {
      font-size: 16px;
    }
    &-item {
      div {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      &:last-of-type {
        padding: 32px 16px 0 0;
      }
    }
  }

  .brand {
    font-size: 26px;
  }

  .navbar {
    &-toggler {
      position: absolute;
      top: 16px;
      right: 16px;
      background-image: url("/portfolio/menu.png");
      width: 42px;

      background-position: center;
      background-repeat: no-repeat;
      position: fixed;

      @include breakpoint(lg) {
        position: absolute;
        background-image: url("/portfolio/menu-white.png");
      }
    }
  }

  .collapsed {
    img {
      transform: rotateY(180deg);
      transition: transform 0.25s ease;
    }
  }

  &-small {
    width: 0px;
    transition: width 0.05s ease;
    padding: 0;
    @include breakpoint(lg) {
      transition: width 0.25s ease;
      width: 75px;
      padding: 8px 16px;
    }
    a {
      width: 0px !important;
      @include breakpoint(lg) {
        width: 50px !important;
      }
    }
  }
}
